<html>
  <head>
    <title>Ala Wai</title>

    <link rel="stylesheet" href="./style/styleMap.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 960px)"
      href="./style/mobileMap.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <script src="./map.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div id="home">
      <div id="header">
        <div class="hone">
          <a id="account" href="./account">
            <span class="material-symbols-outlined">account_circle</span>
            <h3 id="user">{{username}}</h3>
          </a>
          <a id="sign" href="./login">Login</a>
          <a id="join" href="./sign">Join!</a>
        </div>
      </div>
      <div id="account-container">
        <img
          src="https://cdn.glitch.global/801f6764-b7d7-4264-aeb7-369efceadd71/Genki-Project.png?v=1727664986473"
          id="img-logoss"
        />
        <h1 id="title">{{titles}} Leaderboard</h1>
        <table>
          <tr id="top">
            <td class="pl"><h2>Place</h2></td>
            <td class="na"><h2>Name</h2></td>
            <td class="po"><h2>Points</h2></td>
          </tr>
          {{#each leaderboard}}
            <tr class="pon">
              <td class="pl">{{inc @index}}</td>
              <td class="na">{{this.username}}</td>
              <td class="po">{{this.points}}</td>
            </tr>
          {{/each}}
        </table>
        <div id="lead">
          <a class="link-ff" href="/leaderboard-points">Points</a>
          <a class="link-ff" href="/leaderboard-ala-wai">Ala Wai</a>
          <a class="link-ff" href="/leaderboard-salt-lake">Salt Lake</a>
        </div>
      </div>
      <div id="footer" class="hone">
        <a class="link-f" href="/leaderboard-points">
          <span class="material-symbols-outlined"> leaderboard </span>
          Leaderboard
        </a>
        <a class="link-f" href="/map">
          <span class="material-symbols-outlined"> explore </span>
          Explore
        </a>
        <a class="link-f" href="/home">
          <span class="material-symbols-outlined"> home </span>
          Home
        </a>
      </div>
    </div>
  </body>
</html>
